            
            
            hr{
                border-color:green;
                border-style: none;
                background-color: #ECE2E1;
                border-top-style: dotted;
                border-width: 5px;
                width: 4%;
                height:0px;
            }
            }
            h2{
                color: lightblue;
                text-size-adjust:10px;
                
            h3{
                text-emphasis:;
            }